div {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background: var(--background, white);
    border-width: var(--line-width, 2px);
    border-style: solid;
    border-color: var(--line-color, black);
    border-radius: 50%;
    font-family: var(--font-family);
    color: var(--line-color, black) !important;
}