:root {
    --line-width: 2px;
    --line-color: black;

    --color: black;
    --background: white;

    --color-hover: white;
    --background-hover: #111;

    --font-family: 'Virgil', sans-serif;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --line-color: white;
        --background: black;
    }

    body {
        background: rgb(41, 41, 41);
        color: white;
    }
}*/

* {
    box-sizing: border-box;
    min-width: 0;
}

@font-face {
    font-family: 'Virgil';
    src: url('../fonts/Virgil.woff2') format('woff2'),
        url('../fonts/Virgil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}