div {
    display: flex;
    justify-content: center;
    border-width: var(--line-width, 2px);
    border-style: solid;
    border-color: var(--line-color, black);
    position: relative;
    background:
        linear-gradient(to top left,
            transparent 0%,
            transparent calc(50% - var(--line-width, 2px)),
            var(--line-color, black) 50%,
            transparent calc(50% + var(--line-width, 2px)),
            transparent 100%),
        linear-gradient(to top right,
            transparent 0%,
            transparent calc(50% - var(--line-width, 2px)),
            var(--line-color, black) 50%,
            transparent calc(50% + var(--line-width, 2px)),
            transparent 100%);

    &>svg {
        fill: var(--background);
    }
}